@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Jost", sans-serif;
  }
  
  :root {
    --para: 1.1rem;
    --font: 'Jost', sans-serif;
    --heading: 3rem;
    --subheading:1.8rem;
    --highcolor:#ad023b;
  }
  .book-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: #373737;
    color: #fff;
  }
.title .heading{
    font-family: sans-serif;
    font-size: var(--heading);
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 3rem;
    color: #fff;
}
.search{
    width: 600px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.search a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.active{
    color: var(--highcolor);
}
.active:visited{
    color: #c60243;
}
.books{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem 0rem;
    /* border: 3px solid #fff; */
    background-color: #dfdede;
}
.books-section{
    background-image: url("../../public/images/book.jpg");
    background-size: cover;
    background-position: center;
    width: 30%;
    /* border: 2px solid #ad023b; */
}
.books-list{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 3px solid #fff; */
    padding: 0.5rem 1rem;
}
.book-cols{
    margin: 0rem;
}
.book-details{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 3px;
    background-color: #fff;
    padding: 0;
}
.book-image{
    width: 180px;
    height: 150px;
    margin-right: 1rem;
    background: #000;
    padding: 1rem;
    text-align: center;
    background-image: url("../../public/images/forest.jpg");
    /* background-position: ; */
    background-size:cover;
}
.book-image1{
    width: 180px;
    height: 150px;
    margin-right: 1rem;
    background: #000;
    padding: 1rem;
    text-align: center;
    background-image: url("../../public/images/stars.jpeg");
    /* background-position: ; */
    background-size:cover;
}
.book-image2{
    width: 180px;
    height: 150px;
    margin-right: 1rem;
    background: #000;
    padding: 1rem;
    text-align: center;
    background-image: url("../../public/images/kalam.jpg");
    /* background-position: ; */
    background-size:cover;
}
.book-image3{
    width: 180px;
    height: 150px;
    margin-right: 1rem;
    background: #000;
    padding: 1rem;
    text-align: center;
    background-image: url("../../public/images/booksonight.jpg");
    /* background-position: ; */
    background-size:cover;
}
.book-info{
    width: 300px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.book-info .book-title{
 font-size: var(--subheading);
    font-weight: 600;
    color: var(--highcolor);
    margin-bottom: 0rem;
}
.book-info .book-des{
    color: #000;
    margin: 0;
}

.book-info .book-price{
    color: var(--highcolor);
    font-size: 16px;
    font-weight: 600;
}